.dish-card {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-between;
}

.type-details {
  display: flex;
  flex-direction: row;
}

.non-veg {
  color: green;
  margin-right: 6px;
  height: 25px;
  width: 25px;
}

.veg {
  color: brown;
  margin-right: 6px;
  height: 25px;
  width: 25px;
}

.dish-details {
  display: flex;
  flex-direction: column;
  margin-top: -24px;
  padding: 0;
}

.dish-details p {
  /* margin: 5px; */
  padding: 2px;
}

.dish-name {
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
}

.dish-desc {
  color: #9c9b98;
}

.calories-img {
  display: flex;
  flex-direction: row;
}

.calories {
  color: orangered;
  align-self: center;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 6px;
}

.img-div {
  align-self: flex-end;
  width: 100px;
  height: 100px;
}

.dish-img {
  width: 100%;
  height: 100%;
}

.add-btn {
  background-color: #eba421;
  color: white;
  border: none;
  outline: none;
  padding: 10px 30px 10px 30px;
  margin-top: 6px;
  border-radius: 10px;
  cursor: pointer;
}

.dish-btn-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
