/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.resto-name {
  color: #ffcc00;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo span {
  font-size: 1.5rem;
  margin-left: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.nav-links button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links button:hover {
  color: #ffcc00;
}

.cart-count {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.span-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 16px;
  margin-left: 5px;
  padding-bottom: -1px;
  padding-right: 1px;
  padding-left: 1px;
  background-color: #ffcc00;
  display: flex;
  align-items: center;
  justify-content: center;
}
